<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>9255130426005908</sid>
    <event-sheet>Hoja de eventos 1</event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>1708</horizontal>
        <vertical>960</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="fondo" sid="6528914740595798">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="opciones" sid="1636071589983975">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite8" uid="25">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-280</x>
                        <y>730</y>
                        <z>0</z>
                        <width>1317</width>
                        <height>1463</height>
                        <depth>0</depth>
                        <hotspotX>-0.211616158</hotspotX>
                        <hotspotY>0.500211775</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite9" uid="0">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Rotate">
                            <properties>
                                <speed>10</speed>
                                <acceleration>1</acceleration>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>313</x>
                        <y>195</y>
                        <z>0</z>
                        <width>193</width>
                        <height>184</height>
                        <depth>0</depth>
                        <hotspotX>0.53283304</hotspotX>
                        <hotspotY>0.502923965</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="ciudad" uid="1">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>475</x>
                        <y>221</y>
                        <z>0</z>
                        <width>151</width>
                        <height>67</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.505882382</hotspotY>
                        <angle>0</angle>
                        <opacity>0.699999988</opacity>
                    </world>
                </instance>
                <instance type="laguna" uid="2">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>476</x>
                        <y>122</y>
                        <z>0</z>
                        <width>143</width>
                        <height>53</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.699999988</opacity>
                    </world>
                </instance>
                <instance type="titulo" uid="3">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>171</x>
                        <y>113</y>
                        <z>0</z>
                        <width>234</width>
                        <height>127</height>
                        <depth>0</depth>
                        <hotspotX>0.500705242</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>-0.043644439</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Video2" uid="72">
                    <properties>
                        <webm-source></webm-source>
                        <ogg-theora-source></ogg-theora-source>
                        <h264-source>final ciudad end.mp4</h264-source>
                        <autoplay>No</autoplay>
                        <play-in-background>No</play-in-background>
                        <initial-visibility>Visible</initial-visibility>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>4</x>
                        <y>13</y>
                        <z>0</z>
                        <width>650</width>
                        <height>360</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite17" uid="76">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>293</x>
                        <y>302</y>
                        <z>0</z>
                        <width>248</width>
                        <height>95</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.50526315</hotspotY>
                        <angle>0.05258913</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="video" sid="3522879649054514">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="ciudadvideo" uid="6">
                    <properties>
                        <webm-source></webm-source>
                        <ogg-theora-source></ogg-theora-source>
                        <h264-source>finalLaguna.mp4</h264-source>
                        <autoplay>No</autoplay>
                        <play-in-background>No</play-in-background>
                        <initial-visibility>Visible</initial-visibility>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>10</x>
                        <y>4</y>
                        <z>0</z>
                        <width>640</width>
                        <height>385</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
